Descrição:  

Esse é um projeto baseado nas aulas do canal 'Hastag Programação'

O script possui 3 grandes funções:

1 - Atualizar a cotação das moedas (SELENIUM)

2 - Atualizar o valor dos produtos no dataframe (PANDAS)

3 - Interagir com o banco de dados e salvar o dataframe atualizado (SQLAlchemy)

*BOT QUE PEGA DADOS NA INTERNET*

In [119]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

driver = webdriver.Edge(r'C:/Users/lucas/AppData/Local/Programs/Python/Python310/msedgedriver.exe')


driver.get("https://www.google.com/")
driver.find_element(By.XPATH,
                   '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input').send_keys("Cotação Dolar" + 
                                                                                                      Keys.ENTER)
Dolar = driver.find_element(By.XPATH,
                          '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
    
    
    
driver.get("https://www.google.com/")
driver.find_element(By.XPATH,
                   '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input').send_keys("Cotação Euro" + 
                                                                                                      Keys.ENTER)
Euro = driver.find_element(By.XPATH,
                          '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
    
    
driver.get("https://www.google.com/")
driver.find_element(By.XPATH,
                   '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input').send_keys("Cotação Libra" + 
                                                                                                      Keys.ENTER)
Libra = driver.find_element(By.XPATH,
                          '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
    

    
    
print(Euro)
print(Dolar)
print(Libra)

C:\Users\lucas\AppData\Local\Temp/ipykernel_10452/3402882977.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Edge(r'C:/Users/lucas/AppData/Local/Programs/Python/Python310/msedgedriver.exe')

6.321926048000001
5.5169
7.565324970000001

*ATUALIZANDO A TABELA COM OS VALORES RECOLHIDOS PELO BOT*

In [159]:
import pandas as pd

df = pd.read_excel('Produtos.xlsx')

In [163]:
df = df.rename(columns={'Preço Original': 'Preço_Original', 'Preço de Compra': 'Preço_de_Compra', 'Preço de Venda':'Preço_de_Venda'})

df.loc[df["Moeda"] == "Dólar", "Cotação"] = float(Dolar)
df.loc[df["Moeda"] == "Euro", "Cotação"] = float(Euro)
df.loc[df["Moeda"] == "Ouro", "Cotação"] = float(Libra)

df = df.replace(['Ouro'],'Libra')

df["Preço_de_Compra"] = df["Preço_Original"] * df["Cotação"]
df["Preço_de_Venda"] = df["Preço_de_Compra"] * df["Margem"]

df

,Produtos,Preço_Original,Moeda,Cotação,Preço_de_Compra,Margem,Preço_de_Venda
0,Câmera Canon,999.99,Dólar,5.516900,5516.844831,1.40,7723.582763
1,Carro Renault,4500.00,Euro,6.321926,28448.667216,2.00,56897.334432
2,Notebook Dell,899.99,Dólar,5.516900,4965.154831,1.70,8440.763213
3,IPhone,799.00,Dólar,5.516900,4408.003100,1.70,7493.605270
4,Carro Fiat,3000.00,Euro,6.321926,18965.778144,1.90,36034.978474
5,Celular Xiaomi,480.48,Dólar,5.516900,2650.760112,2.00,5301.520224
6,Joia 20g,20.00,Libra,7.565325,151.306499,1.15,174.002474

*ENVIANDO A TABELA ATUALIZADA PARA O BANCO DE DADOS SQL*

In [124]:
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://root:xxxx@localhost:3306/pythonsql')

In [164]:
df.to_sql(
    name = 'funciona',
    con = engine,
    index = False,
    if_exists = 'append'
)

In [166]:
jooj = pd.read_sql_table("funciona", engine)
jooj

,Produtos,Preço_Original,Moeda,Cotação,Preço_de_Compra,Margem,Preço_de_Venda
0,Câmera Canon,999.99,Dólar,5.516900,5516.844831,1.40,7723.582763
1,Carro Renault,4500.00,Euro,6.321926,28448.667216,2.00,56897.334432
2,Notebook Dell,899.99,Dólar,5.516900,4965.154831,1.70,8440.763213
3,IPhone,799.00,Dólar,5.516900,4408.003100,1.70,7493.605270
4,Carro Fiat,3000.00,Euro,6.321926,18965.778144,1.90,36034.978474
5,Celular Xiaomi,480.48,Dólar,5.516900,2650.760112,2.00,5301.520224
6,Joia 20g,20.00,Libra,7.565325,151.306499,1.15,174.002474